* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

canvas {
	border: black solid 2px;
	margin: 0;
	padding: 0;
}

#musicInstruction{
	position:absolute;
	z-index:3;
	bottom:3vh;
	left:3vh;
	color:white;
	font-family: 'Raleway', sans-serif;
    font-weight:bold;  
	font-size:300%;

}