
/* Makes divs correct height with inside padding */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}


body{
    background-color: #ffe0f0;
}

@font-face {
    font-family: "Raleway-Local";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Ysabeau-Local";
    src: url("../fonts/Ysabeau-Regular.ttf");
}

img.levelImg{
    height:17vh;
    width:40vw;
    /* object-fit:cover; */
    /* float:left; */
    border:5px solid rgb(255, 255, 255);
}

/* Title settings (same as credits but adjusted for scrollbar) */
h1.title{
    color:black;
    font-family: 'Raleway-Local', sans-serif;
    font-weight: 400;
    font-size:300%;
    text-align: center;
}

div.title{
    width:100.5%;
    padding-top:2vh;
    padding-bottom:2vh;
    background-color:rgba(255,255,255,0.5);
    margin-top:5vh;
    margin-bottom:5vh;
}

/* box of the level image*/
.boxes{
    height:20vh;
    width:40vw;
    text-align:center;
    margin-left:6%;
    margin-bottom:7%;
    float:left; 
    
}

/* centers box in the last row */
.lastRow{
    float:none;
    margin:auto;
}

/* level labels */
.label{
    font-size:150%;
    font-family: 'Ysabeau-Local', sans-serif;
}

img.levelImg:hover{
    /* width:43vw; */
    border-width:10px;
    
}

