
html{
    height:100%;
}

body{
    padding:0%;
    /*no outer shell on the outside*/
    margin:0;
    /*makes things not go to the edge of the screen*/

}

@font-face {
    font-family: "Raleway-Local";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Ysabeau-Local";
    src: url("../fonts/Ysabeau-Regular.ttf");
}

/* background */
#bg{
    position:absolute;
    top:0;
    width:100vw;
    height:100vh;
    /* the distance of the image to the image to the top of the screen*/
}

/* main menu title */
#title{
    z-index:5;
    position:absolute;
    left:30vw;
    width:40vw;
    height:40vh;
    
}


/* flower image on main menu */
#flowers{
    width:100vw;
    height:100vh;
    position:absolute;
    padding:0;
    margin:0;
    top:0;
}

/* not sure what this is being used for
#button-style{
    border-color:none;
    background-color: none;
    text-align: center;
    outline:none;
} */


/* the invisible box above box that positions it */
.boxAboveTheBox{
    width:100%;
    height:35vh; 
}

/* box around selection options */
#box{
    position: relative;
    z-index:3;
    background-color: rgba(00,0,0,0.2);
    border-radius:5%; 
    width: 30vw; 
    margin:auto; 
    padding: 0.25%;
    height:55vh;
}

/* selection links */
 a.selection, div.selection{
    color:white; 
    text-decoration:none; 
    text-align:center; 
    font-family: 'Ysabeau-Local', sans-serif;
/*    font-weight: lighter;*/
    font-size: 2.5vmin;
    height:10%;
    /* margin:1px; */
}


 a.selection:hover, div.selection:hover{ 
    font-size:3vh;
    height:9%;
}

